body {
    display:flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin:0;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
}

.header {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    flex:1;
    background-color: #1F2937;
    color:#F9FAF8;
    padding:0px 400px 150px 400px;
}

.nav {
    display:flex;
    justify-content: space-between;
    flex:1;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    display:inline-flex;
    margin:5px;
    color: #e5e7eb;
    font-size:18px;
}

.hero {
    display:flex;
    justify-content: space-between;
    flex:1;
    margin-top:70px;
}

.placeholder {
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: grey;
    flex:1 1 auto;
    width:1000px;
}

.title {
    display:flex;
    flex-direction: column;
    align-items: start;
    margin-right:50px;
    gap:15px;
}

.title h1 {
    font-weight: 900;
    font-size: 48px;
    margin:0;
}

.title p {
    font-size: 18px;
    color: #e5e7eb;;
    margin:0;
}

.title button {
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius: 10px;
    font-size:20px;
    padding:5px 35px 5px 35px;
    border:none;
}

